/* Defaults */

body {
    margin: auto;
    background-image: url('/assets/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.page-header {
    margin-top: 30px;
}

.container {
    width: 90%;
}

.navbar-bg {
    background: transparent;
}

.navbar-text {
    color: darkblue;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
}

nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

#credits {
    background-color: whitesmoke;
    opacity: 90%;
    padding: 5px;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
    width: 200px;
    margin: 20px;
    margin-left: 1220px;
    margin-top: 80px;
}

/* Home page specific */

.homepage {
    text-align: center;
    background-color: whitesmoke;
    opacity: 90%;
    margin-top: 30px;
}

#title {
    margin-left: 15px;
    padding-top: 30px;
    color: darkblue;
}

#timer-description { 
    padding-top: 20px;
    padding-left: 40px;
    color: black;
    font-size: 24px;
}

.timer {
    color: black;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.countdown {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    padding-top: 0px;
    text-transform: uppercase;
}
  
li span {
    display: block;
    font-size: 4.5rem;
}

#background-btn {
    background-color: darkblue;
}

.challenge-btn {
    margin-left: 50px;
    margin-bottom: 20px;
}

#challenges-btn-text {
    color: whitesmoke;
    font-size: 24px;
}

#challenges-btn-text:hover {
    color: whitesmoke;
    font-size: 24px;
}

/* Post format specific */

.entire-post {
    background-color: whitesmoke;
    opacity: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.back-button {
    color: darkblue;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

#post-title {
    color: darkblue;
    padding-left: 30px;
    font-size: 48px;
}

#post-date {
    padding-left: 30px;
    margin-bottom: 20px;
}

#post-creator {
    padding-left: 30px;
    color: rgb(2, 2, 71);
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

#post-content {
    color: black;
    padding-left: 30px;
    margin-bottom: 15px;
}

/* Challenge specific */

.challenges-div {
    background-color: whitesmoke;
    opacity: 90%;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.page-header {
    color: darkblue;
    margin-left: 30px;
    padding-top: 30px;
}

.info {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    margin-left: 10px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.blog-title {
    padding-top: 20px;
    font-size: 30px;
    font-weight: normal;
}

.blog-title:hover {
    font-weight: normal;
}

.button-blue {
    color: darkblue;
}

.button-blue:hover {
    color: darkblue;
}

.blog-date {
    color: rgb(155, 169, 184);
    margin-bottom: 10px;
}

.content-intro {
    font-size: 18px;
    font-weight: normal;
    margin-right: 30px;
}

.read-more {
    font-size: 18px;
    margin-left: 7px;
}





